/* NEW STYLE FOR SHOP2 */

#nav-mobile li a {
    /*margin-left: 20px;*/
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#nav-mobile li a:hover {
    color: #64b5f6;
}

.activeNav {
    color: #64b5f6;
}

.collapsible {
    margin-top: 5%;
}

#para1 {
    max-width: 2500px;
    max-height: 500px;
    height: 100%;
    width: 100%;
}

.card-panel,
.searchCard {
    opacity: .9;
    border-radius: 10px;
}

#navBar {
    padding-bottom: 100px;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
}

#topLogo {
    margin-top: 15px;
    margin-left: 40px;

}

#nav-mobile {
    margin-top: 30px;
    margin-right: 40px;
}

#tabsDiv {
    background: #212121;
}

.tabs .tab a {
    color: white;
    font-size: 18px;
}

#mapPicMain2 {
    height: 300px;
    width: 300px;
}

#collapseDiv {
    background: #212121;
}

#facebookMain {
    height: 100px;
    width: 250px;
    max-height: 100%;
    max-width: 100%;
}

#shopPhoto {
    max-height: 100%;
    max-width: 100%;
}

body {
    background-color: #212121;
}

.img1 {
    height: 587px;
    background-attachment: fixed;
    background-position: 0 60%;
    background-repeat: no-repeat;
    background-size: contain;
}

.img2,
.img3,
.img4 {
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
    background-image: url("../images/briggs.png");
}

.img2 {
    background-image: url("../images/shop3.jpg");
}

.img3 {
    background-image: url("../images/paint.jpg");
}

.img4 {
    background-image: url("../images/car.jpg");
}

.info {
    width: 100%;
    height: 700px;
    color: white;
}

@keyframes appears {
    0% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}

.animated {
    animation: appears 2.5s
}

#indexDivOneLogo {
    margin-top: 125px;
}

#briggsLogo {
    width: 500px;
    height: 200px;
}

#briggsLogoNav {
    height: 100px;
    width: 300px;
    margin-left: 10%;
    margin-top: 1%;
}

#mobileNavIcon {
    margin-left: 47%;
    margin-top: 5%;
}

#indexDivOneCard {
    font-size: 32px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
}

#freeEstimateCard {
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}

#scheduleNowBtn {
    border: solid;
    border-color: white;
    border-width: 2px;
    font-family: 'Montserrat', sans-serif;
}

#scheduleNowBtn:hover {
    border-color: black;
    color: black;
}

#servicesDiv {
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
}

#learnMoreBtn {
    padding-top: 25px;
    padding-bottom: 75px;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 50px;
    border: solid;
    border-color: white;
    border-width: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#learnMoreBtn:hover {
    background: white !important;
    border-color: black;
    color: black !important;
}

.card-panel,
.searchCard,
#freeEstimateCard {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bottomCard {
    margin-top: 100px;
}

/**********************tablet/mobile view**************************/

@media only screen and (max-width: 1024px) {
    #indexDivOneCard {
        font-size: 24px;
    }

    .img1 {
        background-position: 0 14%;
        height: 320px;
    }
}

/**********************medium screens defined by materialize**************************/

@media only screen and (max-width: 992px) {

    .firstInfo {
        height: 950px;
    }

    .secondInfo {
        height: 700px;
    }

    #freeEstimate {
        margin-top: 100px;
    }

    .thirdInfo {
        height: 700px;
    }

    #briggsLogoMobile {
        margin-top: 3%;
        height: 150px;
        width: 300px;
    }

    #briggsShopMobile {
        margin-top: 3%;
        height: 150px;
        width: 300px;
    }
}

/**********************IPAD query**************************/

@media only screen and (max-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {

    #facebookMain {
        margin-top: 180%;
    }

    #briggsLogo {
        margin-top: 5%;
        width: 200px;
        height: 100px;
    }

    #indexDivOneCard {
        font-size: 20px;
    }

    #popout2 {
        margin-bottom: -40%
    }

    .info {
        width: 100%;
        color: white;
    }

    #learnMoreBtn {
        padding-top: 25px;
        padding-bottom: 75px;
        padding-left: 80px;
        padding-right: 80px;
        margin-top: 50px;
        border: solid;
        border-color: white;
        border-width: 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }

    #mapPicMain2 {
        height: 110px;
        width: 110px;
    }

    #iCarLogo {
        height: 100px;
        width: 200px;
    }

    #weAccept {
        height: 50px;
        width: 230px;
    }

    #bottomCard {
        margin-top: 50%;
    }

    .firstInfo {
        height: 850px;
    }

    .secondInfo {
        height: 700px;
    }

    #freeEstimate {
        margin-top: 100px;
    }

    .thirdInfo {
        height: 700px;
    }

    .fourthInfo {
        height: 500px;
    }

    #servicesDiv {
        margin-top: 50px;
    }

    #bottomCard {
        margin-top: 20%;
    }

    #navBar {
        padding-bottom: 100px;
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: 1px;
    }

    /*.img2,*/
    /*.img3,*/
    /*.img4 {*/
    /*    height: 550px;*/
    /*    background-attachment: scroll;*/
    /*    background-position: center;*/
    /*    background-repeat: no-repeat;*/
    /*    background-size: cover;*/
    /*}*/
}

/**********************Iphone 6/7/8/X small screen materialize**************************/

@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {

    .secondInfo {
        height: 930px;
    }
    #freeEstimate {
        margin-top: 50px;
    }

    .thirdInfo {
        height: 1240px;
    }
}

/**********************Galaxy phones if anyone has those anymore**************************/

@media only screen and (max-width: 361px) and (-webkit-min-device-pixel-ratio: 2) {
    .secondInfo {
        height: 960px;
    }

    .thirdInfo {
        height: 1280px;
    }

    .mapPicMain2 {
        height: 250px;
        width: 250px;
    }
}

/**********************older iphone models(5 and under)**************************/

@media only screen and (max-width: 321px) and (-webkit-min-device-pixel-ratio: 2) {

    .secondInfo {
        height: 1090px;
    }

    .thirdInfo {
        height: 1280px;
    }

    #weAccept {
        height: 50px;
        width: 200px;
    }
}
