/* NEW STYLE FOR SHOP2 for pages contact and services */
/* large devices*/
#nav-mobile li a {
    /*margin-top: 15%;*/
    margin-left: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#nav-mobile li a:hover {
    color: #e57373;
}

.collapsible{
    margin-top: 15%;
}
#para1{
    max-width: 2500px;
    max-height: 800px;
    height: 100%;
    width: 100%;
}
.parralaxText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, -50%);
}

.parralaxText, h2 {
    font-weight: bolder;
    text-shadow: 2px 2px grey;
}

.cardArea {
    padding-top: 50px;
    padding-bottom: 50px;
}

#navBar {
    /*padding-bottom: 100px;*/
}

#topLogo {
    margin-top: 15px;
    margin-left: 40px;

}

#navMain {
    /*margin-top: 30px;*/
    margin-right: 40px;
}

#tabsDiv {
    background: #212121;
}

.tabs .tab a {
    color: white;
    font-size: 18px;
}

#mapPicMain2 {
    height: 300px;
    width: 300px;
}

#collapseDiv {
    background: #212121;
}

#shopPhoto {
    height: 260px;
    width: 400px;
    margin-top: 10px;
}

#facebookMain {
    margin-top: 20%;
    height: 100px;
    width: 250px;
}

#collapseDivTitle {
    margin-top: 5%;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 50px;
}

body {
    /*background: #212121;*/
    background-color: black;
}

.tabList {
    /*margin-top: 5%;*/
   /*margin-left: 15%;*/
   
}

.tabImg{
    max-height: 400px;
    max-width: 400px;
    height: 100%;
    width: 100%;
}

.activeNav{
     color: red;   
    
}


#briggsLogo{
    margin-left: 25%;
}

.tabArea{
    margin-left: 5%;
}

#cardArea{
    margin-top: -10;
}


/* end large devices */






/*begin tablets*/
@media screen and (max-width: 980px) and (min-width: 668px) and (-webkit-min-device-pixel-ratio: 2) {
    
    
    
}

/*end tablets*/







/*begin small devices and phones*/
@media screen and (min-device-width: 250px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    
    
    /* NEW STYLE FOR SHOP2 */

#nav-mobile li a {
    margin-top: 15%;
    margin-left: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#nav-mobile li a:hover {
    color: #e57373;
}

.collapsible{
    margin-top: 15%;
}
#para1{
    max-width: 2500px;
    max-height: 800px;
    height: 100%;
    width: 100%;
}
.parralaxText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, -50%);
}

.parralaxText, h2 {
    font-weight: bolder;
    text-shadow: 2px 2px grey;
}

.cardArea {
    padding-top: 50px;
    padding-bottom: 50px;
}

#navBar {
    /*padding-bottom: 100px;*/
}

#topLogo {
    margin-top: 15px;
    margin-left: 40px;

}

#navMain {
    /*margin-top: 30px;*/
    margin-right: 40px;
}

#tabsDiv {
    background: #212121;
}

.tabs .tab a {
    color: white;
    font-size: 18px;
}

#mapPicMain2 {
    height: 300px;
    width: 300px;
}

#collapseDiv {
    background: #212121;
}

#shopPhoto {
    height: 260px;
    width: 400px;
    margin-top: 10px;
}

#facebookMain {
    margin-top: 20%;
    height: 100px;
    width: 250px;
}

#collapseDivTitle {
    margin-top: 5%;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 50px;
}

body {
    /*background: #212121;*/
    background-color: black;
}

.tabList {
   /* margin-top: 5%;*/
   /*margin-left: 5%;*/
   
}

.tabImg{
    max-height: 400px;
    max-width: 400px;
    height: 100%;
    width: 100%;
}

.activeNav{
     color: red;   
    
}


#briggsLogo{
    max-width: 400px;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: -35%;
}

.tabArea{
    margin-left: 0%;
}


}


/*end phones*/